* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #d4edc9, #cde5bd);
    min-height: 100vh;
}

/* Cabeçalho */
header {
    background: linear-gradient(to right, #8cbf58, #a8c66c);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

/* Container principal */
main {
    max-width: 800px;
    margin: 80px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    text-align: center;

    flex: 1; /* Faz o main crescer para ocupar o espaço */
}

/* Título */
h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    text-align: left;
    font-weight: bold;
    color: #555;
}

input, select, button {
    width: 100%;
    padding: 14px;
    border-radius: 25px;
    font-size: 1.1em;
}

button {
    background-color: #65b347;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #4d9335;
}

footer {
    background: linear-gradient(to right, #368758, #8EC46C);
    height: 80px;
    color: #fff;
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

footer .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 10px;
    box-sizing: border-box;
}

footer h3, footer p {
    margin: 0;
    font-size: 0.7rem;
    line-height: 1.2;
    text-align: center;
}

footer .row {
    margin: 0;
}

footer .logo {
    max-height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
