header {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #5D8736, #A9C46C);
    padding: 5px;
    height: 75px;
}

header .logo {
    width: auto;
    max-height: 70px;
    margin: 5px;
}

header h2 {
    font-size: 1.0em;
    color: #fff;
    margin: 0;
    padding: 5px;
    font-family: 'ABeeZee', sans-serif;
}

header .usuario-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header .usuario {
    max-height: 30px;
    margin-left: 5px;
}

header h3 {
    font-size: 1em;
    color: #555353;
    opacity: 0.8;
    font-family: 'ABeeZee', sans-serif;
    margin: 0;
}

header a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ABeeZee', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container {
    display: flex;
    background: rgb(247, 247, 247);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 100%;
    transition: transform 0.3s ease;
}

.form-left {
    flex: 1;
    margin-right: 20px;
}

.form-right {
    flex: 1;
    display: flex;
    gap: 20px;
}

.list-column {
    flex: 1;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="date"]:focus {
    border-color: #368758;
    outline: none;
}

button {
    background: linear-gradient(to right, #368758, #8EC46C);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease, margin 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

button:hover {
    background: #2e6b4a;
}

.list-group {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    max-height: 250px;
    overflow-y: auto;
}

.list-group li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    color: #555;
}

.hidden {
    display: none;
}

.btn-delete {
    cursor: pointer;
    margin-left: 8px;
    display: inline-block;
    background: none;
    border: none;
    font-size: 12px;
    color: red;
    transition: transform 0.2s ease;
}

.btn-delete:hover {
    transform: scale(1.2);
}

footer {
    background: linear-gradient(to right, #368758, #8EC46C);
    min-height: 80px;
    color: #fff;
    font-family: 'ABeeZee', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 10px;
    box-sizing: border-box;
}

footer h3, footer p {
    margin: 0;
    font-size: 0.7rem;
    line-height: 1.2;
    text-align: center;
}

footer .row {
    margin: 0;
}

footer .logo {
    max-height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}