footer {
    background: linear-gradient(to right, #368758, #8EC46C);
    padding: 10px 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

footer .container {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 20px;
    box-sizing: border-box;
}

footer h3, footer p {
    margin: 0;
    font-size: 0.7rem;
    line-height: 1.2;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer .row {
    margin: 0;
}

footer .logo {
    max-height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #5D8736, #A9C46C);
    padding: 5px;
    height: 75px;
}

header .logo {
    width: auto;
    max-height: 70px;
    margin: 5px;
}

header h2 {
    font-size: 1.0em;
    color: #fff;
    margin: 0;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}

header .usuario-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header .usuario {
    max-height: 30px;
    margin-left: 5px;
}

header h3 {
    font-size: 1em;
    color: #555353;
    opacity: 0.8;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Faz o wrapper ocupar o espaço todo e empurra o footer para baixo */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Faz o conteúdo principal crescer para ocupar o espaço disponível */
main {
    flex: 1;
}
