
/* Main Content */
main {
    display: block;
    height: auto; /* Ajusta a altura para o conteúdo */
    text-align: left;
    padding: 0; /* Remove qualquer padding adicional */
}

main .row {
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    margin-left: 0; /* Remove margens extras da row */
}

main .col-md-6 {
    padding-left: 0; /* Remove padding à esquerda da coluna */
    margin-left: 0; /* Remove margens à esquerda da coluna */
}

main h1 {
    text-align: left; /* Alinha o título à esquerda */
    font-size: 2rem;
    color: #368758;
    font-family: 'ABeeZee', sans-serif;
}

form {
    width: 100%; /* Garante que o formulário ocupe toda a largura da coluna */
    max-width: 400px; /* Define uma largura máxima para o formulário */
    margin-left: 0; /* Remove margens extras do formulário */
}

form select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form input[type="text"],
form input[type="submit"] {
    padding: 10px; 
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #368758;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #2a6b46;
}
